.custom_hover:hover {
    box-shadow: #3dba15;
    background-color: white;
}

.back-color {
background: rgb(61, 186, 21);
background: linear-gradient(82deg, rgb(61, 186, 21) 0%, rgba(0,10,177,1) 100%);
}

.custom_active_button:active{
    background-color: #3dba15;
    color: white;
}
.ex1 {
  margin-right: 400px;
}

.custom_text_color{
    color: #3dba15;
}

.call-background{
    background-color: #3dba15;
    color: white;
}

.wiky-shadow {
    box-shadow: 0 1rem 3rem rgba(187, 56, 222, 0.34) !important;
}

.label_form{
    background-color: white;!important;
}
